/* Style général pour le corps de la page */
body {
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Conteneur principal utilisant Flexbox pour la disposition */
#container {
    display: flex;
    height: 100vh;
}

/* Section de gauche avec le logo et le menu */
#gauche {
    width: 20%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style pour le logo */
#coin img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style pour le menu */
#menu h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a {
    text-decoration: none;
    color: #5599EE;
}

#menu ul li a:hover {
    text-decoration: underline;
}

/* Section de droite avec le contenu principal */
#droite {
    width: 80%;
    padding: 20px;
}

/* Style pour la section haute */
#haut {
    margin-bottom: 20px;
}

/* Style pour la section bas */
#bas {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style pour les titres */
h1 {
    color: #5599EE;
}

/* Style pour le formulaire */
form {
    max-width: 100%;
}

/* Style pour les titres de section */
.titre {
    font-weight: bold;
    margin-top: 20px;
}

/* Style pour les zones de saisie */
.zone {
    margin-bottom: 10px;
}

/* Style pour les tableaux */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #5599EE;
    color: white;
}

/* Style pour les champs de saisie */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
